<script src="https://code.highcharts.com/highcharts.js"></script>
<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Global Data
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense"></ion-header>

  <ion-card *ngFor = "let dada of this.dades; let i=index">
  <ion-card-content>
    <ion-label><b>Country: </b>{{ dada.nomPais }}</ion-label><br>
    <ion-label><b>Num. Cases: </b>{{ dada.numCasos }}</ion-label><br>
    <ion-label><b>Num. Deaths: </b>{{ dada.numMorts }}</ion-label><br>
    <ion-label><b>Num. Recovered: </b>{{ dada.numRecuperats }}</ion-label>
  </ion-card-content>
  </ion-card>



</ion-content>
